.custom-popover {
	.MuiPaper-root {
		max-width: unset !important;
		max-height: unset !important;
	}
	.notification {
		width: 320px;
		padding: 0; 
		.MuiListItemText-primary {
			@include flex;
			align-items: center;
			.MuiTypography-h6 {
				flex-grow: 1;
				font-size: 16px;
				font-weight: 600;
				margin-right: $gutter_sm;
				letter-spacing: .02rem;
			}
			.MuiTypography-caption {
				color: #999;
				letter-spacing: .07rem;
			}
		}
		.MuiListItemText-secondary {
			.MuiButtonBase-root {
				text-transform: capitalize;
				border-radius: 30px;
				padding: 0 8px !important;
				margin-top: 8px;
				.MuiButton-endIcon { margin-left: 0; }
			}
		}
	}
}