/* ------------------------------------------------------- FONT ------------------------------------------------------- */
@import "@fontsource/noto-sans-kr";
@import '@fontsource/noto-sans-kr/200.css';
@import '@fontsource/noto-sans-kr/300.css';
@import '@fontsource/noto-sans-kr/400.css';
@import '@fontsource/noto-sans-kr/500.css';
@import '@fontsource/noto-sans-kr/600.css';
@import '@fontsource/noto-sans-kr/700.css';
@import '@fontsource/noto-sans-kr/800.css';

$base_font_family: 'Noto Sans KR', 'Noto Sans KR', sans-serif !important; 
/* ------------------------------------------------------- COLOR ------------------------------------------------------- */
$primary: #5D5FEF;
$secondary: #8486ff;
$secondary-dark: #4A45BD;
$bg-actived-dark: #A5A5E3;
$color-white: #ffffff;
$color-gray: #999999;
$color-title: #000;
$color-description: #7e7c77;
$color-tooltip: #393690; 
$color-background: #f4f4f4;
$color-error: #ea1917;
$color-lg: #A50034;
/* ------------------------------------------------------- LAYOUT ------------------------------------------------------- */
$header-height: max(3.3333vw, 64px);
$footer-height: max(2.0833vw, 40px);
$radius-sm: max(0.2083vw, 4px);
$radius-md: max(0.6250vw, 12px);
$radius-lg: max(1.2500vw, 24px);
$radius-xl: max(3.1250vw, 60px);
$radius-mui: max(0.8333vw, 16px);
$gutter-xs: max(0.3125vw, 6px); 
$gutter-sm: max(0.6250vw, 12px);
$gutter-md: max(1.2500vw, 24px); 
$gutter-lg: max(1.5625vw, 30px); 
$gutter-xl : max(2.0833vw, 40px);
$gutter-xxl : max(3.1250vw, 60px);
$gutter-mui-sm: max(0.4167vw, 8px); 
$gutter-mui-md: max(0.8333vw, 16px);