@charset "utf-8";

@import "var", "mixins", "reset";
/* ------------------------------------------------------- Common > Layout ------------------------------------------------------- */
// 1920px 기준 vw로 변환
.pat-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding-top: $header-height;
  .header {
    @include flex;
    width: 100vw;
    height: $header_height;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
    z-index: 998;
    .MuiToolbar-root { 
      width: 100%; 
      min-height: inherit;
      height: 100%;
      padding: 0 $gutter-md;
    }
    h1 {
      a {
        @include flex;      
        align-items: center;
        color: $color-title;
        img {
          width: max(2.5vw, 48px);
          height: max(2.5vw, 48px);
        }
        span {
          font-size: max(1.3021vw, 25px);
          font-weight: 700;
          padding: 0 $gutter-xs;
        }
      }     
    }
  }
  .container-wrap {
    width: 100vw; 
    height: calc(100vh - #{$header_height});
    background-color: $color-background;
    overflow: hidden;
    z-index: 997;
    .container {
      width: 100%;
      overflow-x: hidden; 
      overflow-y: auto;
      .contents {
        min-height: calc(100vh - #{$header_height} - #{$footer_height});
        max-width: 80%;
        margin: 0 auto;
        padding: $gutter-xl 0; 
      }
      .footer {
        width: 100%;
        height: $footer_height;
        text-align: center;
        .copy {
          font-size: max(0.6250vw, 12px);
          line-height: $footer_height;
          color: $color-gray;
        }
      }
    }
  }  
}
/* ------------------------------------------------------- Common > Contents ------------------------------------------------------- */
.contents {
  &-header {
    padding: $gutter-md 0;
    .title {
      color: $color-title;
      font-size: max(1.8750vw, 36px);
      font-weight: 700;
      margin-bottom: $gutter-md;
    }
    .desc {
      color: $color-description;
      font-size: max(0.8854vw, 17px);
      font-weight: 500;
      line-height: 1.6;
      a { text-decoration: underline; }
    }
    .MuiStack-root {
      justify-content: space-between;
      align-items: flex-end;
      .MuiButtonBase-root { flex-shrink: 0; }
    }
  }
  &-form {
    padding: $gutter-md $gutter-md $gutter-lg;
    margin-bottom: $gutter-lg;
    .title {
      @include contents-title;
      margin: $gutter-md 0 $gutter-sm 0;
      &:first-of-type { margin-top: 0; }
      .required { font-weight: 400; }
      &-wrap {
        justify-content: space-between;
        align-items: center;
        margin: $gutter-md 0 $gutter-sm 0;
        .title { margin: 0; }
      }
    }
    &-checkbox {
      border: 1px solid rgba($color-gray, .5);
      border-radius: $radius-sm;
      padding: $gutter-xs $gutter-sm;
      & + & { margin-top: $gutter-sm; }
    }   
  }
  &-summary {
    @include flex; 
    justify-content: space-between;
    align-items: center;
    padding: $gutter-mui-md $gutter-md;
    margin: $gutter-sm 0;
    .MuiStack-root { overflow: hidden; }
    .title { @include contents-title; }
    .desc { 
      height: max(0.8510vw, 16px);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap; 
			-webkit-box-orient: vertical; 
			-webkit-line-clamp: 1; 
			display: block;
			color: $color-gray;
			font-size: max(0.6250vw, 12px);
			line-height: max(0.8510vw, 16px);
			margin-right: $gutter-md;
    }
    .copy {
      @include flex;
      align-items: center;
      padding: $gutter-mui-md 0;
      .token {
        color: $color-title;
        font-size: max(1.0417vw, 20px);
        font-weight: 300;
      }
      .copy-link {
        font-size: max(0.8854vw, 17px);
        font-weight: 500;
        margin: 0 $gutter-mui-md;
      }
    }
  }
  &-alert {
    .MuiAlert-root, 
    .custom-info {
      color: $color-white;
      font-size: max(0.8854vw, 17px);
      padding: $gutter-mui-sm $gutter-lg;
      border-radius: $radius-xl;
      margin: $gutter-sm 0;
      .MuiAlert-message {
        font-size: max(0.8333vw, 16px);
        & span { font-size: max(0.8333vw, 16px); }
      }
      .MuiAlert-icon { font-size: max(1.2500vw, 24px); }
    }
    .custom-info {
      letter-spacing: .025rem;
      padding: $gutter-mui-md $gutter-lg;
      background: linear-gradient(to right, #646CF0, #75AEF6 70%, #8AF6FF);
    }  
  } 
}
/*----------------------------------- Common > MUI Overriding -----------------------------------*/
.MuiInputBase-root {
  &.MuiOutlinedInput-root { border-radius: $radius-sm; }
  .MuiSelect-select {
      padding: max(0.4427vw, 8.5px) max(0.7292vw, 14px);
      border-radius: $radius-sm;
  }
  .MuiOutlinedInput-notchedOutline {
      legend { height: max(0.5729vw, 11px); }
  }    
}
.MuiCheckbox-root { padding: max(0.4688vw, 9px) !important; }
.MuiButtonBase-root {    
  border-radius: $radius-sm;  
  &.MuiIconButton-root {
      &.MuiIconButton-sizeLarge { padding: $gutter-sm; }
      &.MuiIconButton-sizeMedium { padding: $gutter-mui-sm; }
  }
  &.MuiButton-root { 
      padding: max(0.3125vw, 6px) max(0.8333vw, 16px); 
      border-radius: $radius-sm;
      & + .MuiButtonBase-root { margin-left: $gutter-mui-sm; } 
  }
  &.MuiFab-root {
      width: max(2.0833vw, 40px);
      height: max(2.0833vw, 40px);
  } 
  .MuiButton-startIcon {
      .MuiSvgIcon-root { font-size: max(1.0417vw, 20px); }
  }
}
.MuiTooltip-tooltip { 
	background-color: $color-tooltip !important; 
	padding: $gutter-xs $gutter-sm !important; 
	font-size: max(0.7292vw, 14px) !important;
}
.MuiTooltip-arrow::before { color: $color-tooltip !important; }
.MuiDialog-root {  
  .MuiDialog-container {
    .MuiDialogTitle-root {
      font-size: max(1.0417vw, 20px);
      padding: $gutter-mui-md $gutter-md;
      & + .MuiDialogContent-root { padding-top: 0; }
    }
    .MuiDialogContent-root { padding: max(1.0417vw, 20px) $gutter-md; }
    .token-name { 
      @include contents-title;
      font-size: max(0.9375vw, 18px);
      margin-right: $gutter-xs;
    }
    .MuiDialogContentText-root { font-size: max(0.8510vw, 16px); }
    .MuiDialogActions-root {
      padding: $gutter-mui-md;
      .MuiButtonBase-root { 
        & + .MuiButtonBase-root { margin-left: $gutter-mui-sm; }
      }
    }
  }
}